/* desk top  */

@media (min-width: 992px) and (max-width: 1199px){
    .sec2{
        margin: 0% 15%;
    }
    #cover{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .se2-img img{
        margin: 10px 0px 10px 290px;
    }
    /* head part end */
    #imgs{
        background: none;
        margin-top: 90px;
    }
    /* about part end */
            /* service section ended */
    /* blog section start */
    #cards{
        flex-wrap: wrap;
        /* flex-direction: column; */
    }
    #card{
        width: 85%;
        /* margin-left: 55px; */
    }
        /* blog section end */
    /* subscribe section start */
    #subscribe{
        text-align: center;
        justify-content: center;
    }
    #sub-content h1{
        margin-left: 3%;
        margin-right: 3%;
    }
    #sub-content p{
        margin-left: 3%;
        margin-right: 3%;
    }
    #email{
        width: 70%;
        height: 5vh;
    }
    #submit{
        width: 40%;
        height: 5vh;
    }
        /* subscribe section ended */
    /* testimonial section start */
    #test-cards{
        /* flex-wrap: wrap; */
        width: 100%;
        justify-content: space-around;
    }
    /* testimonial section ended */
    /* footer started */
    #lower-foot{
        width: 95%;
    }
}
/* tablate or ipad  768 to 991*/
@media (min-width: 768px) and (max-width: 991px) {
.nav-list{
    display: block;
    margin-left: 63%;
    text-align: center;
}
.sec2{
    margin: 0% 15%;
}
#cover{
    flex-direction: row;
    flex-wrap: wrap;
}
.se2-img img{
    margin: 10px 0px 10px 150px;
}
/* head part end */
#imgs{
    background: none;
    margin-top: 90px;
}
/* about part end */
        /* service section ended */
    /* blog section start */
    #cards{
        flex-wrap: wrap;
        /* flex-direction: column; */
    }
    #card{
        width: 85%;
        /* margin-left: 55px; */
    }
        /* blog section end */
    /* subscribe section start */
    #subscribe{
        text-align: center;
        justify-content: center;
    }
    #sub-content h1{
        margin-left: 3%;
        margin-right: 3%;
    }
    #sub-content p{
        margin-left: 3%;
        margin-right: 3%;
    }
    #email{
        width: 70%;
        height: 5vh;
    }
    #submit{
        width: 40%;
        height: 5vh;
    }
        /* subscribe section ended */
    /* testimonial section start */
    #test-cards{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    #card1{
        width: 60%;
        margin: 30px 0;
    }
    #card2{
        width: 60%;
    }
    /* testimonial section ended */
    /* footer started */
    #lower-foot{
        width: 90%;
        padding: 0%;
    }
    #map{
        padding: 0%;
    }
}

/* tablate 576 to 767*/
@media (min-width: 576px) and (max-width: 767px) {
    .sec2{
        margin: 0% 15%;
    }
    #cover{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .se2-img img{
        margin: 10px 0px 10px 10%;
    }
    /* head part end */
    #imgs{
        background: none;
        margin-top: 90px;
    }
    /* about part end */
        /* service section ended */
    /* blog section start */
    #cards{
        flex-wrap: wrap;
        flex-direction: column;
    }
    #card{
        width: 85%;
        margin-left: 55px;
    }
    /* blog section end */
    /* subscribe section start */
    #subscribe{
        text-align: center;
        justify-content: center;
    }
    #sub-content h1{
        margin-left: 3%;
        margin-right: 3%;
    }
    #sub-content p{
        margin-left: 3%;
        margin-right: 3%;
    }
    #email{
        width: 70%;
        height: 5vh;
    }
    #submit{
        width: 40%;
        height: 5vh;
    }
        /* subscribe section ended */
    /* testimonial section start */
    #test-cards{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    #card1{
        width: 80%;
        margin: 30px 0;
    }
    #card2{
        width: 80%;
    }
    /* testimonial section ended */
    /* footer started */
    #strip{
        width: 90%;
        margin: 50px 0px;
        margin-left: 20px;
        text-align: left;
        padding: 10px 0px;
    }
    #strip a{
        display: block;
        font-size: 10px;
        margin-left: 30px;
    }
    #strip a i{
        margin-right: 10px;
    }
    #lower-foot{
        flex-direction: column;
        width: 80%;
    }
    #links{
        width: 80%;
    }
    #web{
        width: 80%;
        margin: 30px 35px;
    }
    #social-media-links{
        width: 80%;
        margin: 30px 30px;
    }
    #social-media-links a{
        display: inline;
        }
    #map{
        margin: 30px 30px;
        width: 80%;
    }
    iframe{
        width: 100%;
        height: 100%;
    }
    #copy-write{
        width: 100%;
    }
}
/* mobile  */
@media (max-width: 575px){
    .sec2{
        margin: 0% 4%;
    }
    .sec2 h1{
        font-size: 25px;
    }
    #cover{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .se2-img img{
        margin: 10px 0px 10px 20px;
        width: 300px;
    }
    /* head part end */
    #about{
        display: block;
    }
    #imgs{
        background: none;
        margin-top: 90px;
    }
    #upper{
        width: auto;
    }
    #about-content{
        margin-top: 0px;
    }
    /* about part end */
    /* services section start */
    #service{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        overflow-x: hidden;
        position: relative;
        padding-bottom: 50px;
    }
    #middle-tab button{
        position: absolute;
        bottom: 2%;
        /* top: 90%; */
        right: 33%;
    }
    #middle-tab{
        margin-top: 30px;
    }
    #tab-2{
        margin-top: 30px;
    }
    /* service section ended */
    /* blog section start */
    #cards{
        flex-wrap: wrap;
        flex-direction: column;
    }
    #card{
        width: 85%;
        margin-left: 30px;
    }
    /* blog section end */
    /* subscribe section start */
    #subscribe{
        text-align: center;
        justify-content: center;
    }
    #sub-content h1{
        margin-left: 3%;
        margin-right: 3%;
    }
    #sub-content p{
        margin-left: 3%;
        margin-right: 3%;
    }
    #email{
        width: 70%;
        height: 5vh;
    }
    #submit{
        width: 40%;
        height: 5vh;
    }
    /* subscribe section ended */
    /* testimonial section start */
    #test-cards{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    #card1{
        width: 70%;
        margin: 30px 0;
    }
    #card2{
        width: 70%;
    }
    /* testimonial section ended */
    /* footer started */
    #strip{
        width: 90%;
        margin: 50px 0px;
        margin-left: 20px;
        text-align: left;
        padding: 10px 0px;
    }
    #strip a{
        display: block;
        font-size: 10px;
        margin-left: 30px;
    }
    #strip a i{
        margin-right: 10px;
    }
    #lower-foot{
        flex-direction: column;
        width: 80%;
    }
    #links{
        width: 80%;
    }
    #web{
        width: 80%;
        margin: 30px 35px;
    }
    #social-media-links{
        width: 80%;
        margin: 30px 30px;
    }
    #social-media-links a{
        display: inline;
        }
    #map{
        margin: 30px 30px;
        width: 80%;
    }
    iframe{
        width: 100%;
        height: 100%;
    }
    #copy-write{
        width: 100%;
    }
}